.blog-app {
  background-color: #f8f9fa;
}

.modal-content textarea {
  resize: vertical;
}

.background 
{
  background-color:  #e6f0ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}